<section id="education" class="resume">
  <div class="container">

    <div class="section-title">
      <h2 >Education</h2>
    </div>
  <div class="container">

    <div class="row">

        <div class="resume-item" *ngFor="let e of education">
          <h4>{{e.title}}</h4>
          <p *ngIf="!e.isCompleted"><em>(In progress via distance education; expected completion <h5>{{e.year}}</h5>)</em></p>
          <h5 *ngIf="e.isCompleted">{{e.year}}</h5>
          <p><em>{{e.universityName}}</em></p>
        </div>
      </div>
    </div>
  </div>
</section>
