<section id="contact" class="contact">
  <div class="container">

    <div class="section-title">
      <h2>Contact</h2>
      <p>I'm excited to connect with you and discuss potential job opportunities, or any questions you might have.
        Feel free to reach out: </p>
    </div>

    <div class="row" data-aos="fade-in">

      <div class="col-lg-5 d-flex align-items-stretch">
        <div class="info">
          <div class="address">
            <i class="bi bi-geo-alt"></i>
            <h4>Location:</h4>
            <p>{{summary.address}}</p>
          </div>

          <div class="email">
            <i class="bi bi-envelope"></i>
            <h4>Email:</h4>
            <p>{{summary.email}}</p>
          </div>

          <div class="phone">
            <i class="bi bi-telephone"></i>
            <h4>Call:</h4>
            <p>{{summary.phoneNumber}}</p>
          </div>
        </div>

      </div>

      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
        <form [formGroup]="contactAsForm">
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input type="text" name="name" class="form-control" id="name" formControlName="name" required>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input type="email" class="form-control" name="email" id="email" formControlName="email" required
                     pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="name">Subject</label>
              <input type="text" class="form-control" name="subject" id="subject" formControlName="subject" required>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Phone</label>
              <input type="number" class="form-control" name="phone" id="phone" formControlName="phone">
            </div>
          </div>

          <div class="form-group">
            <label for="name">Message</label>
            <textarea class="form-control" name="message" rows="10" formControlName="message"></textarea>
          </div>
          <button type="submit" class="btn btn-outline-primary btn-block" (click)="handleMessage()"
                  style="margin-top: 10px">Send Message
          </button>
        </form>
      </div>

    </div>
  </div>
</section>
