#skills{
  margin-left: 250px;
}

.downloadResume{
  margin-left: 270px;
}

.skill{
  padding-left: 0;
}

#skill-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}


