<section id="experience" class="resume">
  <div class="container">

    <div class="section-title">
      <h2>Experience</h2>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <div class="resume-item" *ngFor="let ex of experience">
          <h4>{{ex.title}}</h4>
          <h5>{{ex.year}}</h5>
          <p><em>{{ex.company}}</em></p>
          <ul>
            <li *ngFor="let contribution of ex.contributions">{{contribution}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

